* {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1F2937;
}

/*HEADER SECTION*/
a{
  color: orange;
  text-decoration: none;
}

li{
  display: inline;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.main-text{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  justify-content: flex-start;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*IMAGES SECTION 2*/

.random-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.gallery {
  display: flex;
  justify-content: center;
}

.illustration {
  display: flex;
  flex-direction: column;
}

.testimonial {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.author {
  font-size: 16px;
  font-weight: bolder;
}


/*FOOTER*/

footer {
  background-color: #1F2937;
}
