* {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1F2937;
}

/*HEADER SECTION*/
a{
  color: orange;
  text-decoration: none;
}

li{
  display: inline;
}

.header-top {
  display: flex;
  justify-content: flex-end;
}

.main-text{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  justify-content: flex-start;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
}

/*IMAGES SECTION 2*/

.random-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

.random-info,
.gallery{
  display: flex;
  justify-content: center;
  padding: 150px;
}

.illustration {
  display: flex;
  flex-direction: column;
}

.testimonial {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 250px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.author {
  font-size: 16px;
  font-weight: bolder;
}

.blue-panel {
  display: flex;
  background-color: #3882F6;
  color: #E5E7EB;
}

.blue-panel .call-sign-up
{
  background-color: inherit;
  color: inherit;
}

/*FOOTER*/

footer {
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
  height: 64px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
