* {
  font-family: "Roboto", sans-serif;
}


header,
footer {
  background-color: #1F2937;
}

footer {
  display: flex;
  justify-content: center;
}

button{
  background-color: #3882F6;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100px;
}

a{
  color: #E5E7EB;
  text-decoration: none;
}

li{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

/*HEADER TOP*/

#header-logo{
  font-size: 24px;
  color: #F9FAF8;
}

.header-top{
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*HEADER BOTTOM*/
#juan-waves-in-a-room{
    max-width: 250px;
    max-height: auto;
    border-radius: 80%;
}

#main-text{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-top: 0;
  margin-bottom: 0;
}

#secondary-text{
  font-size: 18px;
  color: #E5E7EB;
}

.header-bottom {
  display: flex;
  padding: 150px;
  align-items: flex-start;
  justify-content: space-around;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*PROJECTS*/

#random-info{
  font-size: 50px;
  font-weight: bolder;
  color: #1F2937;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 250px;
  height: auto;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.project-info {
  font-size: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery .project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*TESTIMONIAL*/

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 250px;
  background-color: #E5E7EB;
  color: #1F2937;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: inherit;
}

#author {
  display: flex;
  justify-content: flex-end;
  color: inherit;
  font-weight: bold;
  font-size: 25px;
}

/*BLUE PANEL*/

.blue-panel {
  display: flex;
  background-color: #3882F6;
  justify-content: space-between;
  padding: 100px;
  border: white 300px solid;
  align-items: center;
}

#blue-panel-button {
  border: white 1px ridge;
  height: 40px;
}
